img {
    vertical-align: middle;
}
.img-responsive {
    width: 100%;
  }
.title a {
    color: red;
    background-color: transparent;
}
.subtitle a {
    color: black;
    text-transform: uppercase;
}
.summary {
    text-align: center;
}
.small-articles {
    padding-top: 25px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}
.main-article {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.main-text-box {
    border-top: 3px solid red;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media (min-width: 768px){
    .main-text-box {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(rgba(255,255,255,0.5), white);
    }
}